.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template:
    "h h h" auto
    ". m ." 1fr
    "f f f" 100px /
    0 1fr 0;
}

header {
  padding-block: 10px;
  padding-inline: 20px;
  grid-area: h;
  background-color: var(--mat-sys-primary-fixed);

  & nav {
    display: flex;
    gap: 5px;
  }
}

main {
  grid-area: m;
  padding: 20px;
  background-color: var(--mat-sys-background);
}

footer {
  grid-area: f;
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-secondary);
}

.highlite {
  background-color: var(--mat-sys-primary-fixed-dim);
}
