<div class="wrapper">
  <header>
    <nav>
      <h1>
        <a mat-button routerLink="/" routerLinkActive="highlite" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>developer_board</mat-icon>
          pi_server
        </a>
      </h1>
      <a mat-button routerLink="/hello" routerLinkActive="highlite">
        <mat-icon>waving_hand</mat-icon>hello
      </a>
      <a mat-button routerLink="/show-db" routerLinkActive="highlite"><mat-icon>table_view</mat-icon>Show DB</a>
      <a mat-button routerLink="/device" routerLinkActive="highlite"><mat-icon>developer_board</mat-icon>Device</a>
    </nav>
  </header>
  <main><router-outlet></router-outlet></main>
  <footer>footer</footer>
</div>